/* style.css */
@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

#counter{
        width: 100%;
    font-size: 64pt;
         left: 150px;
  font-family: sans-serif;
    
}

#btnAdd{
    width: 300;
   height: 300;
     left: 100px;

}

body {
  background-color:  purple;
}
