/* style.css */
@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

#counter{
    width: 100%;
    padding: 1em 0;
    font-size: 64pt;
    text-align: center;
}

#btnAdd{
    width: 300;
   height: 300;
      top: 400px;
	 left:100px;

}

body {
  background-color:  purple;
}
